/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

@import 'https://fonts.googleapis.com/css?family=Kumar+One+Outline|Merriweather:400,400i,700,700i|Montserrat:400,700';
@import 'normalize';

/*CLEARFIX*/
.cf:before, .cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}

/*ALL THE COLORS*/

body {
  font-family: 'Merriweather', serif;
}

button.hibye.button {
  background-color: salmon;
  color: black;
  border-radius: 25px;
  font-family: 'Montserrat', sans-serif;
  padding: 1rem 2rem;
}

button.highlight.button {
  background-color: salmon;
  color: black;
  border-radius: 25px;
  font-family: 'Montserrat', sans-serif;
  padding: 1rem 2rem;
  &:hover{
    background: darken(salmon, 7.5%);
  }
}

/*FLASH NOTICES*/
#notifications {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 600;
  background: rgba(216, 218, 6, 0.87);
}

#notifications p {
  padding: 1.3rem 0;
  text-align: center;
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
}

/*HOMEPAGE RELATED STYLING*/
#background {
  background: url("home_bg2.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  background-position: center;
  text-align: center;
}

.home-top-bar{
  /*background-color: rgba(229, 116, 87, 0.68);*/
  margin-bottom: 20px;
  height: 60px;
}

#SiteTitleHome {
  padding-left: 5rem;
  margin-top: 2rem;
  a{
    color: #57CAC7;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Kumar One Outline', cursive;
  }
}

#homelinks.top-bar-right {
  margin-right: 2rem;
  margin-top: 2rem;
  a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: black;
  }
}

.fancy {
  font-family: 'Merriweather', serif;
  font-style: italic;
  color: black;
  margin-top: 6rem;
  margin-bottom: 5rem;
}

h2.fancy{
  font-size: 3.5rem;
}

h3.fancy{
  font-size: 2rem;
}

#intro{
  margin: 0 auto;
  margin-top: 25px;
  width: 60%;
}

#useracted {
  margin-top: 6rem;
}

/*ALL OTHER PAGES RELATED STYLING*/

.top-bar{
  background-color: #E57255;
  margin-bottom: 10px;
}

#SiteTitle a {
  color: white;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Kumar One Outline', cursive;
  padding-left: 100px;
}

#useract{
  text-align: center;
}

#useract a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}


/* Start XOMISSE Responsive Video */
.videoresp {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  margin: 20px auto;
}
.videoresp iframe, .videoresp object, .videoresp embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* End XOMISSE Responsive Video */
